body {
	background: #4aaaa5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-color: #777777;
	content: 960px;
	text-align: center;

}

html, body {
	background: #ffffff;
	border-color: #dddddd;
	content: 650px;
	margin: right;
	clear: left;
	display: left;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background: #ffffff;
	border-color: #cccccc;
}

h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.sidebar {
	content: 270px;
	float: left;
	overflow: hidden;
	clear: both;
	position: relative;
	padding: 0px;
	display: block;
}

a:hover {
  	background: transparent;
   	color: #4aaaa5;
}

.footer {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	background: #666666;
}
